<html lang="en">
<%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="details content">
      <div class="content">
        <% if (isAuthenticated) { %>
          <%- include('./partials/auth2.ejs') %>
        <% } %>
<article class="detail">
    <div class='left'>
      <img class='left-image' src="/<%= item.id%>.jpg" alt='item photo'/>
    </div>
    <div class='right'>
      <div class='right-title'>
        <h1 class='right-title-value'><%= item.title %></h1>
      </div>
      <div class='right-describe' id='describe'>
        <%= item.describe %>
      </div>
      <div class='right-quantity'>
        <span class='right-quantity-label'>   </span>
        <span class='right-quantity-value'>   </span>
      </div>
      <div class='right-price'>
        <span class='right-price-label'>Price:</span>
        <span class='right-price-value'><%= item.value %></span>
      </div>
      <div class='right-buy'>
        <% if (isAuthenticated) { 
             if (item.quantity>0) { %>
          <form action="/shops" method="POST">
            <input type="hidden" id="item" name="item" value="<%= item._id %>" required>
            <input type="hidden" id="buyer" name="buyer" value="<%-user.id %>" required>
            <input type="hidden" id="status" name="status" value="false" required>
            <button class='right-buy-button-buy'> Kup </button>  
          </form>
        <% }else{%>
            <span>Brak towaru :(</span>
        <%}}else {%>
        <a href="/login">
          <button class='right-buy-button-login' >Zaloguj się</button>
        </a>
        <% } %>
      </div>
     </div>
    </article>
</div>
</div>
<%- include("./partials/footer.ejs") %>
<script>
const trashcan = document.querySelector('a.delete');
trashcan.addEventListener('click', (e) => {
const endpoint = `/items/${trashcan.dataset.doc}`;
fetch(endpoint, {
  method: 'DELETE'
})
.then(response => response.json())
.then(data => window.location.href = data.redirect)
.catch(err => console.log(err));
});

</script>
<script>    
  document.addEventListener("DOMContentLoaded", () => {
    text = document.getElementById("describe").innerHTML;
    document.getElementById("describe").innerHTML = text.replaceAll('popen','<p class=`right-describe-value`>').replaceAll('pclose','</p>').replaceAll('listopen','<ul>').replaceAll('listclose','</ul>').replaceAll('pointopen','<li>').replaceAll('pointclose','</li>');
});
</script>

</body>
</html>