<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="items content">
            <% if (items.length > 0) { %>
                <% items.forEach(item => { %>
                    <a class ="single" href="/items/<%= item._id %>">
                        <img class="photo" src="/<%= item.id%>.jpg" alt="photo"/> 
                        <h3 class='title'> <%= item.title %>  </h3> 
                    </a>
            <% }); %>     
            <% } else { %>
                <p> there is no items there :( </p>
            <% } %>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>