<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <article>
        <div class='top'>
            <h1>Twoje zamówienia:</h1>
        </div>
        <div class='center'>
            <% if (shops.length > 0) { %>
                <% shops.forEach(shop => { %>
                  <% if(user.id == shop.buyer){ %>
                    <% if(!shop.status){ %>
                    <div class ="single" >
                        <h3 class='title'> <%= shop.item %>  </h3>
                        <a class="delete" data-doc="<%= shop._id %>">
                            <img src="/trashcan.svg" alt="delete icon" />
                          </a>
                    </div>
                <% }}}); %>     
            <% } else { %>
                    <p> there is no items there :( </p>
                <% } %>
        </div>
  
        <% if (shops.length > 0) { %>
          <% shops.forEach(shop => { %>
            <% if(user.id == shop.buyer){ %>
            <div class='footer'>
              <button class='footer-confirm' data-doc="<%= shop._id %>">Potwierdź</button>
          </div>
            <%}}); %>     
            <% } else { %>
                <% } %>

    </article>


    <%- include('./partials/footer.ejs') %>

    <script>
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
            const endpoint = `/shops/${trashcan.dataset.doc}`;
          fetch(endpoint, {
            method: 'DELETE'
          })
          .then(response => response.json())
          .then(data => window.location.href = data.redirect)
          .catch(err => console.log(err));
         
        });
        
      </script>
      <script>
        const confirmButton = document.querySelector('button.footer-confirm');
        confirmButton.addEventListener('click', (e) => {
            const endpoint = `/shops/${confirmButton.dataset.doc}`;
          fetch(endpoint, {
            method: 'PUT'
          })
          .then(response => response.json())
          .then(data => window.location.href = data.redirect)
          .catch(err => console.log(err));
         
        });
        
      </script>
      
</body>

</html>